In [1]:
import numpy as np 
import pandas as pd

In [13]:
month_of_interest = "01-2023"
url = "https://en.tutiempo.net/climate/{}/ws-419230.html"
url = url.format(month_of_interest)
url

'https://en.tutiempo.net/climate/01-2023/ws-419230.html'

In [15]:
month_of_interest = ['01-2023', '02-2023','03-2023','04-2023', '05-2023', '06-2023', '07-2023', '08-2023']
url = "https://en.tutiempo.net/climate/{}/ws-419230.html"
for month in month_of_interest: 
    url = url.format(month)
    print(url)

https://en.tutiempo.net/climate/01-2023/ws-419230.html
https://en.tutiempo.net/climate/01-2023/ws-419230.html
https://en.tutiempo.net/climate/01-2023/ws-419230.html
https://en.tutiempo.net/climate/01-2023/ws-419230.html
https://en.tutiempo.net/climate/01-2023/ws-419230.html
https://en.tutiempo.net/climate/01-2023/ws-419230.html
https://en.tutiempo.net/climate/01-2023/ws-419230.html
https://en.tutiempo.net/climate/01-2023/ws-419230.html

In [26]:
data_jan_2023 = pd.read_html("https://en.tutiempo.net/climate/01-2023/ws-419230.html", header = 0)

In [27]:
len(data_jan_2023)

4

In [29]:
data_jan_2023 = data_jan_2023[2]

In [30]:
data_jan_2023

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,17.9,23.7,14,1018.9,79,0,3.1,0.9,7.6,-,NaN,NaN,NaN,NaN
1,2,19.5,26,14.7,1019.1,66,0,3.7,0,-,-,NaN,NaN,NaN,NaN
2,3,15.9,19.6,14.5,1019.4,88,0,2.7,1.5,3.5,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
6,7,13.1,15.4,11.5,1017.2,94,0,1,0.6,3.5,-,NaN,NaN,NaN,o
7,8,16.4,20.6,12.5,1016.4,87,0,1.4,0,-,-,NaN,NaN,NaN,o
8,9,19.7,28,13.2,1016.9,68,0,3.2,1.1,3.5,-,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,17.5,23.5,12,1013.7,73,0,2.9,0.6,3.5,-,NaN,NaN,NaN,NaN
13,14,20.5,25,14.7,1012.8,83,0,2.4,0,-,-,NaN,NaN,NaN,NaN
14,15,20.8,27.1,16.5,1013.2,62,0,3.4,1.5,5.4,-,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,17.4,24,13.6,1017.5,63,0,3.5,1.9,5.4,-,NaN,NaN,NaN,NaN
19,20,18.8,25.1,12.4,1016.7,63,50.04,3.5,0.9,3.5,-,NaN,NaN,NaN,NaN
20,21,18.7,25.7,13,1015.3,63,0,3.5,0.9,3.5,-,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,21.8,28.2,16.5,1013.5,70,0,3.7,1.5,7.2,-,NaN,NaN,NaN,NaN
25,26,22.5,28.7,17.6,1013.5,73,0,2.9,0.6,3.5,-,NaN,NaN,NaN,NaN
26,27,23,28.6,18.5,1013.4,66,0,3.9,2,5.4,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
30,31,23.2,29.6,16.9,1012.7,63,0,3.1,0.6,3.5,-,NaN,NaN,NaN,o
31,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:
32,NaN,18.9,24.5,14.6,1015.6,71.2,50.04,3,1.1,4.9,NaN,0,0,0,7